<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load qr_code %}
</head>
<body>
    <div class="container">
        {% qr_from_text "Hello World!" size="M"  image_format="png" %}
        <table>
            <tbody>
            <tr>
                <th>SL no.</th>
                <th>Item</th>
                <th>Unit Price</th>
                <th>QTY</th>
                <th>Total</th>
             </tr>
             {% for i in '35457568578678' %}
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>100</td>
                <td>5</td>
                <td>500</td>
            </tr>
             {% endfor %}
             <td colspan='4'>Total</td>
             <td>500</td>
            </tbody>
        </table>
    </div>
</body>
</html>